<html>
  <head></head>
  <body>
      <p>
      <form action="/display">
        <label id='ts_label' for="true_symbol_input">True symbol:</label>
        <input id='true_symbol_input' type='text' name='true_symbol' />
        <br>
        <label id='fs_label' for="false_symbol_input">False symbol:</label>
        <input id='false_symbol_input' type='text' name='false_symbol' />
        <br>
        <label id='size_label' for="size_input">Size (2^x):</label>
        <input id='size_input' type='text' name='size' />
        <br>
        <input id='form_submit_button' type='submit' value='Show truth table' />
        <br>
        <a href="/">Reload page</a>
      </form>
  </body>
</html>
