<html>
  <head></head>
  <body>
      <p>
      <form action="/display">
        True symbol: <input type='text' name='true_symbol' />
        <br>
        False symbol: <input type='text' name='false_symbol' />
        <br>
        Size (2^x): <input type='text' name='size' />
        <br>
        <input type='submit' value='Show truth table' />
      </form>
      <p>
        <a href="/">Reload page</a>
  </body>
</html>
